@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #2b88f0;
  font-family: Roboto, sans-serif;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  color: #fff;
  margin: 10px 0 20px;
}

.container {
  width: 500px;
}

textarea {
  height: 100px;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

.tag {
  background-color: #f0932b;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin: 0 50px 40px 0;
  padding: 10px;

}
